<div class="alert"
  [class]="{
    'alert-success': nbreDeTodos() < 3,
    'alert-warning':nbreDeTodos() >= 3 && nbreDeTodos() < 5,
    'alert-danger': nbreDeTodos() > 5
  }"
>
  Il vous reste {{nbreDeTodos()}} todos à faire :D
  <p (click)="getFromApis()">Get Todos from API</p>
</div>
<div class="row">
  <div class="col">
    <ol class="list-group">
      @for (todo of todos(); track $index ) {
        <li
          class="list-group-item">
          {{todo.name}} {{todo.content}}
          <i
            class="bi bi-trash2"
            (click)="deleteTodo(todo)"
          ></i>
        </li>
      }
    </ol>
  </div>
  <div class="col">
    name:
    <input [(ngModel)]="todo().name" type="text" class="form-control" /> content:
    <input [(ngModel)]="todo().content" type="text" class="form-control" />
    <button
      [disabled]="!todo().name.trim() || !todo().content.trim()"
      (click)="addTodo()"
      class="btn btn-primary m-2"
    >
      add
    </button>
  </div>
</div>
